/* latin-ext */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQspDre2.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQUpDg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin-ext */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQspDre2.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQUpDg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin-ext */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQspDre2.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQUpDg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin-ext */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQspDre2.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQUpDg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin-ext */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQspDre2.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQUpDg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin-ext */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQspDre2.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQUpDg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin-ext */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQspDre2.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQUpDg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin-ext */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQspDre2.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQUpDg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
.fw-medium {
  font-weight: 500 !important; }

.fw-bold {
  font-weight: 700 !important; }

.fw-black {
  font-weight: 900 !important; }

/********** Template CSS **********/
a {
  text-decoration: none;
  color: #7620C1; }

.whole-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99; }

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999; }

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

/*** Button ***/
.btn {
  font-weight: 500;
  transition: .5s; }

.btn.btn-primary,
.btn.btn-secondary {
  color: #FFFFFF; }

.btn-square {
  width: 38px;
  height: 38px; }

.btn-sm-square {
  width: 32px;
  height: 32px; }

.btn-lg-square {
  width: 48px;
  height: 48px; }

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal; }

/*** Navbar ***/
.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px; }

.navbar-light .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  outline: none; }

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #7620C1; }

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0; }

  .navbar-light .navbar-nav {
    border-top: 1px solid #EEEEEE; } }
.navbar-light .navbar-brand,
.navbar-light a.btn {
  height: 75px; }

.navbar-light .navbar-nav .nav-link {
  color: #353535;
  font-weight: 700; }

.navbar-light.sticky-top {
  top: -100px;
  transition: .5s; }

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    opacity: 0;
    visibility: hidden;
    transition: .5s; }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: .5s;
    opacity: 1; } }
/*** Header ***/
@media (max-width: 768px) {
  .header-carousel .owl-carousel-item {
    position: relative;
    min-height: 500px; }

  .header-carousel .owl-carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }

  .header-carousel .owl-carousel-item h5,
  .header-carousel .owl-carousel-item p {
    font-size: 14px !important;
    font-weight: 400 !important; }

  .header-carousel .owl-carousel-item h1 {
    font-size: 30px;
    font-weight: 600; } }
.header-carousel .owl-nav {
  position: absolute;
  width: 200px;
  height: 45px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between; }

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: transparent;
  border: 1px solid #FFFFFF;
  font-size: 22px;
  transition: .5s; }

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: #7620C1;
  border-color: #7620C1; }

.header-carousel .owl-dots {
  position: absolute;
  height: 45px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center; }

.header-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  background: transparent;
  border: 1px solid #FFFFFF;
  transition: .5s; }

.header-carousel .owl-dot::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  top: 4px;
  left: 4px;
  background: transparent;
  border: 1px solid #FFFFFF; }

.header-carousel .owl-dot.active {
  background: #7620C1;
  border-color: #7620C1; }

.page-header {
  background: linear-gradient(rgba(53, 53, 53, 0.7), rgba(53, 53, 53, 0.7)), url(../img/carousel-1.jpg) center center no-repeat;
  background-size: cover; }

.breadcrumb-item + .breadcrumb-item::before {
  color: tmpwhite; }

/*** Section Title ***/
.section-title h1 {
  position: relative;
  display: inline-block;
  padding: 0 60px; }

.section-title.text-start h1 {
  padding-left: 0; }

.section-title h1::before,
.section-title h1::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 5px;
  bottom: 0;
  background: #353535; }

.section-title h1::before {
  left: 0; }

.section-title h1::after {
  right: 0; }

.section-title.text-start h1::before {
  display: none; }

/*** About ***/
@media (min-width: 992px) {
  .container.about {
    max-width: 100% !important; }

  .about-text {
    padding-right: calc(((100% - 960px) / 2) + .75rem); } }
@media (min-width: 1200px) {
  .about-text {
    padding-right: calc(((100% - 1140px) / 2) + .75rem); } }
@media (min-width: 1400px) {
  .about-text {
    padding-right: calc(((100% - 1320px) / 2) + .75rem); } }
/*** Service ***/
.service-item img {
  transition: .5s; }

.service-item:hover img {
  transform: scale(1.1); }

/*** Feature ***/
@media (min-width: 992px) {
  .container.feature {
    max-width: 100% !important; }

  .feature-text {
    padding-left: calc(((100% - 960px) / 2) + .75rem); } }
@media (min-width: 1200px) {
  .feature-text {
    padding-left: calc(((100% - 1140px) / 2) + .75rem); } }
@media (min-width: 1400px) {
  .feature-text {
    padding-left: calc(((100% - 1320px) / 2) + .75rem); } }
/*** Project Portfolio ***/
#portfolio-flters li {
  display: inline-block;
  font-weight: 500;
  color: #353535;
  cursor: pointer;
  transition: .5s;
  border-bottom: 2px solid transparent; }

#portfolio-flters li:hover,
#portfolio-flters li.active {
  color: #7620C1;
  border-color: #7620C1; }

.portfolio-item img {
  transition: .5s; }

.portfolio-item:hover img {
  transform: scale(1.1); }

.portfolio-item .portfolio-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 0;
  bottom: 0;
  left: 50%;
  background: rgba(53, 53, 53, 0.7);
  transition: .5s; }

.portfolio-item:hover .portfolio-overlay {
  width: 100%;
  height: 100%;
  left: 0; }

.portfolio-item .portfolio-overlay .btn {
  opacity: 0; }

.portfolio-item:hover .portfolio-overlay .btn {
  opacity: 1; }

/*** Quote ***/
@media (min-width: 992px) {
  .container.quote {
    max-width: 100% !important; }

  .quote-text {
    padding-right: calc(((100% - 960px) / 2) + .75rem); } }
@media (min-width: 1200px) {
  .quote-text {
    padding-right: calc(((100% - 1140px) / 2) + .75rem); } }
@media (min-width: 1400px) {
  .quote-text {
    padding-right: calc(((100% - 1320px) / 2) + .75rem); } }
/*** Team ***/
.team-item img {
  transition: .5s; }

.team-item:hover img {
  transform: scale(1.1); }

.team-item .team-social {
  position: absolute;
  width: 38px;
  top: 50%;
  left: -38px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  transition: .5s; }

.team-item .team-social .btn {
  color: #7620C1;
  background: #FFFFFF; }

.team-item .team-social .btn:hover {
  color: #FFFFFF;
  background: #7620C1; }

.team-item:hover .team-social {
  left: 0; }

/*** Testimonial ***/
.testimonial-carousel::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1; }

.testimonial-carousel::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1; }

@media (min-width: 768px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
    width: 200px; } }
@media (min-width: 992px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
    width: 300px; } }
.testimonial-carousel .owl-item .testimonial-text {
  border: 5px solid tmpwhite;
  transform: scale(0.8);
  transition: .5s; }

.testimonial-carousel .owl-item.center .testimonial-text {
  transform: scale(1); }

.testimonial-carousel .owl-nav {
  position: absolute;
  width: 350px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: .5s;
  z-index: 1; }

.testimonial-carousel:hover .owl-nav {
  width: 300px;
  opacity: 1; }

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  position: relative;
  color: #7620C1;
  font-size: 45px;
  transition: .5s; }

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  color: #353535; }

/*** Contact ***/
@media (min-width: 992px) {
  .container.contact {
    max-width: 100% !important; }

  .contact-text {
    padding-left: calc(((100% - 960px) / 2) + .75rem); } }
@media (min-width: 1200px) {
  .contact-text {
    padding-left: calc(((100% - 1140px) / 2) + .75rem); } }
@media (min-width: 1400px) {
  .contact-text {
    padding-left: calc(((100% - 1320px) / 2) + .75rem); } }
/*** Footer ***/
.footer {
  background: linear-gradient(rgba(53, 53, 53, 0.7), rgba(53, 53, 53, 0.7)), url("./img/footer.jpg") center center no-repeat;
  background-size: cover; }

.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: tmpwhite;
  border: 1px solid #FFFFFF;
  transition: .3s; }

.footer .btn.btn-social:hover {
  color: #7620C1; }

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s; }

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px; }

.footer .btn.btn-link:hover {
  color: #7620C1;
  letter-spacing: 1px;
  box-shadow: none; }

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

.footer .copyright a {
  color: tmpwhite; }

.footer .copyright a:hover {
  color: #7620C1; }

.btn-1 {
  font-size: 14px;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  background-color: #7620C1;
  border: 2px solid transparent;
  transition: all .3s ease-in-out !important; }
  .btn-1:hover {
    text-decoration: none;
    color: #7620C1;
    background-color: #fff;
    border-color: #7620C1; }

/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/
footer {
  background-image: url("./img/footer-bg.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 130px;
  padding-top: 300px;
  padding-bottom: 60px; }

footer .section-heading {
  margin-bottom: 45px; }

footer .section-heading h4 {
  line-height: 45px;
  color: #fff;
  margin-left: 13%;
  margin-right: 13%;
  text-align: center; }

footer #search {
  margin-bottom: 80px; }

footer #search input::placeholder {
  color: #fff; }

footer #search input {
  font-size: 15px;
  color: #fff;
  outline: none;
  height: 46px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  width: 100%; }

footer #search button {
  height: 46px;
  border-radius: 23px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  width: 100%;
  transition: all .5s; }

footer #search button:hover {
  background-color: #fff;
  color: #4b8ef1; }

.footer-widget .logo img {
  max-width: 96px;
  margin-bottom: 30px; }

.footer-widget h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px; }

.footer-widget p {
  margin-bottom: 15px; }

.footer-widget p,
.footer-widget p a {
  color: #fff; }

.footer-widget ul {
  display: inline;
  max-width: 40%;
  float: left;
  margin-right: 10%;
  padding: 0;
  margin: 0;
  list-style: none; }

.footer-widget ul li {
  margin-bottom: 10px; }

.footer-widget ul li:last-child {
  margin-bottom: 0px; }

.footer-widget ul li a {
  font-size: 15px;
  color: #fff;
  transition: all .3s; }

.footer-widget a:hover {
  opacity: 0.75; }

footer .copyright-text p {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
  color: #fff; }

footer p a {
  color: #fff;
  transition: all .5s; }

footer p a:hover {
  opacity: 0.75;
  color: #fff; }

.card {
  width: 100%;
  border-radius: 1em;
  overflow: hidden;
  background: #16161c;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  color: white; }

.card__header {
  width: 90%;
  border-radius: 1em;
  overflow: hidden;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%; }

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem; }

.tag {
  align-self: flex-start;
  cursor: pointer;
  background: trasparent;
  color: #fafafa;
  font-size: .875rem;
  display: inline-flex;
  position: relative;
  z-index: 1;
  padding: 0 16px;
  line-height: 26px;
  height: 28px;
  border-radius: 14px;
  background-color: transparent;
  transition: all .25s; }

.tag:before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  border-radius: 14px;
  transition: all .15s;
  opacity: .1;
  transition: all .25s; }

.tag-purple {
  border: 1px solid #B43ADF; }

.tag-purple:before {
  background-color: #B43ADF; }

.tag-green {
  border: 1px solid #1dbf2f; }

.tag-green:before {
  background-color: #1dbf2f; }

.tag-blue {
  border: 1px solid #4d61ff; }

.tag-blue:before {
  background-color: #4d61ff; }

.tag:hover:before {
  opacity: .2; }

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize; }

.card__body p {
  font-size: 15px;
  margin-bottom: 1.5rem;
  height: auto;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; }

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto; }

.user {
  display: flex;
  gap: .9rem; }

.user__image {
  border-radius: 50%; }

.user__info > small {
  color: #cececece; }

/* HOVER EFFECT */
.card__base {
  background: rgba(128, 128, 128, 0);
  /* TODO: CHANGE COLOR */
  padding: 2px;
  border-radius: 1em;
  position: relative;
  overflow: hidden; }

.blob {
  z-index: -1;
  /* to keep it at below everything else */
  top: 0;
  /* to align it at top */
  left: 0;
  /* to align it at left */
  width: 300px;
  height: 400px;
  position: absolute;
  filter: blur(40px);
  border-radius: 50%; }

.blob-purple {
  background: rgba(180, 58, 223, 0.8); }

.blob-green {
  background: rgba(29, 191, 47, 0.8); }

.blob-blue {
  background: rgba(77, 97, 255, 0.8); }

.fakeblob {
  display: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%; }

/*# sourceMappingURL=style.css.map */
