[class*="anima-"] {
	transition: all 0.75s;
	&:not(.anima-container) {
		opacity: 0;
		&.anima-inview {
			opacity: 1;
		}
	}
}

.anima-container {
	overflow: hidden;
}

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);
		.anima#{$infix}-top {
			transform: translateY(-50vh) translateX(0) scale(1) rotateX(0deg) rotateY(0deg);
			&.anima-inview {
				transform: translateY(0vh);
			}
		}
		.anima#{$infix}-bottom {
			transform: translateY(50vh) translateX(0) scale(1) rotateX(0deg) rotateY(0deg);
			&.anima-inview {
				transform: translateY(0vh);
			}
		}
		.anima#{$infix}-left {
			transform: translateX(-100%) translateY(0vh) scale(1) rotateX(0deg) rotateY(0deg);
			&.anima-inview {
				transform: translateX(0%);
			}
		}
		.anima#{$infix}-right {
			transform: translateX(100%) translateY(0vh) scale(1) rotateX(0deg) rotateY(0deg);
			&.anima-inview {
				transform: translateX(0%);
			}
		}
		.anima#{$infix}-above {
			transform: scale(1.5) translateY(0vh) translateX(0) rotateX(0deg) rotateY(0deg);
			&.anima-inview {
				transform: scale(1);
			}
		}
		.anima#{$infix}-under {
			transform: scale(0.5) translateY(0vh) translateX(0) rotateX(0deg) rotateY(0deg);
			&.anima-inview {
				transform: scale(1);
			}
		}
		.anima#{$infix}-flip {
			transform: rotateY(-90deg) translateY(0vh) translateX(0) scale(1) rotateX(0deg);
			&.anima-inview {
				transform: rotateY(0deg);
			}
		}
		.anima#{$infix}-flap {
			transform: rotateX(-90deg) translateY(0vh) translateX(0) scale(1) rotateY(0deg);
			&.anima-inview {
				transform: rotateX(0deg);
			}
		}
	}
}

.anima-inview {
	.anima-top, .anima-bottom, .anima-left, .anima-right, .anima-above, .anima-under {
		opacity: 1;
	}
}

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);
		.anima-inview {
			.anima#{$infix}-top, .anima#{$infix}-bottom {
				transform: translateY(0vh);
			}
			.anima#{$infix}-left, .anima#{$infix}-right {
				transform: translateX(0vw);
			}
			.anima#{$infix}-above, .anima#{$infix}-under {
				transform: scale(1);
			}
			.anima#{$infix}-flip {
				transform: rotateY(0deg);
			}
			.anima#{$infix}-flap {
				transform: rotateX(0deg);
			}
		}
		.anima-duration#{$infix}-0 {
			transition-duration: 0s;
			-moz-transition-duration: 0s;
			-webkit-transition-duration: 0s;
		}
		.anima-duration#{$infix}-1 {
			transition-duration: 0.25s;
			-moz-transition-duration: 0.25s;
			-webkit-transition-duration: 0.25s;
		}
		.anima-duration#{$infix}-2 {
			transition-duration: 0.5s;
			-moz-transition-duration: 0.5s;
			-webkit-transition-duration: 0.5s;
		}
		.anima-duration#{$infix}-3 {
			transition-duration: 0.75s;
			-moz-transition-duration: 0.75s;
			-webkit-transition-duration: 0.75s;
		}
		.anima-duration#{$infix}-4 {
			transition-duration: 1s;
			-moz-transition-duration: 1s;
			-webkit-transition-duration: 1s;
		}
		.anima-duration#{$infix}-5 {
			transition-duration: 1.25s;
			-moz-transition-duration: 1.25s;
			-webkit-transition-duration: 1.25s;
		}
		.anima-delay#{$infix}-0 {
			transition-delay: 0s;
			-moz-transition-delay: 0s;
			-webkit-transition-delay: 0s;
		}
		.anima-delay#{$infix}-1 {
			transition-delay: 0.25s;
			-moz-transition-delay: 0.25s;
			-webkit-transition-delay: 0.25s;
		}
		.anima-delay#{$infix}-2 {
			transition-delay: 0.5s;
			-moz-transition-delay: 0.5s;
			-webkit-transition-delay: 0.5s;
		}
		.anima-delay#{$infix}-3 {
			transition-delay: 0.75s;
			-moz-transition-delay: 0.75s;
			-webkit-transition-delay: 0.75s;
		}
		.anima-delay#{$infix}-4 {
			transition-delay: 1s;
			-moz-transition-delay: 1s;
			-webkit-transition-delay: 1s;
		}
		.anima-delay#{$infix}-5 {
			transition-delay: 1.25s;
			-moz-transition-delay: 1.25s;
			-webkit-transition-delay: 1.25s;
		}
	}
}