.debug{
	border: 1px dotted red;
}

body {
	font-weight: 400;
	background-color: white;
}

b, strong {
	font-weight: 700;
}

i, em, sup {
	font-style: italic;
}

.fullwidth {
	width: 100%;
	height: auto;
	img {	
		width: 100%;
		height: auto;
	}
}
.maxfullwidth {
	max-width: 100%;
	height: auto;
	img {	
		max-width: 100%;
		height: auto;
	}
}
.container .size-thumbnail {
	@extend .maxfullwidth;
}

ul, ol {
	padding-left: 15px;
	p {
		margin: 0px;
		padding: 0px;
	}
}

a {
	color: $anchor_color;
	text-decoration: none;
	transition: all 0.5s;
	&:hover, &:active, &:focus {
		color: darken($anchor_color, 30%);
		text-decoration: none;
	}
}