$menu-mobile-breakpoint: false !default;
$menu_item_padding: 5px !default;
$menu_arrows: false !default;
$menu-show-arrows-breakpoint: 'xl' !default;
$menu_bg_color: white !default;
$menu_bg_color_lvl_1: $menu_bg_color !default;
$menu_bg_color_lvl_2: $menu_bg_color !default;
$menu_bg_color_lvl_3: $menu_bg_color !default;

.menu_bar {
	> div {
		ul { //pierwszy poziom
			margin: 0px;
			padding: 0px;
			@if $menu-mobile-breakpoint {
				@include media-breakpoint-down($menu-mobile-breakpoint) {
					width: 100%;
				}
			}
			li { //pierwszy poziom
				a {
					display: block;
					padding: $menu_item_padding;
					position: relative;
				}
				&.current-menu-parent, &.current-menu-item {
					> a {
						text-decoration: underline;
					}
				}
				@if $menu_arrows {
					@include media-breakpoint-down($menu-show-arrows-breakpoint) {
						position: relative;
						&.menu-item-has-children {
							.submenu_arrow, > a:after {
								font-family: 'Font Awesome 5 Free';
								font-weight: 900;
								font-style: normal;
								cursor: pointer;
							}
							.submenu_arrow {
								display: none;
							}
							@if $menu-mobile-breakpoint {
								@include media-breakpoint-down($menu-mobile-breakpoint) {
									.submenu_arrow {
										display: block;
										padding: 7px 5px;
										position: absolute;
										top: 0px;
										right: 0px;
										width: 20px;
										height: auto;
									}
								}
							}
							> a:after {
								margin-left: 7px;
							}
						}
					}
				}
				&:hover {
					> ul {
						display: block;
					}
					@if $menu-mobile-breakpoint {
						@include media-breakpoint-down($menu-mobile-breakpoint) {
							> ul {
								display: none;
							}
						}
					}
				}
				ul { //drugi poziom
					display: none;
					position: absolute;
					z-index: 9999;
					@if $menu-mobile-breakpoint {
						@include media-breakpoint-down($menu-mobile-breakpoint) {
							position: static;
						}
					}
					li { //drugi poziom
						display: block;
						ul { //trzeci poziom
							display: none;
							top: 0px;
							width: 200px;
							right: -200px;
							@if $menu-mobile-breakpoint {
								@include media-breakpoint-down($menu-mobile-breakpoint) {
									width: 100%;
									position: static;
								}
							}
						}
					}
				}
			}
		}
		
		> ul { //pierwszy poziom
			> li { //pierwszy poziom
				display: inline-block;
				@if $menu-mobile-breakpoint {
					@include media-breakpoint-down($menu-mobile-breakpoint) {
						display: block;
					}
				}
				a {
					background-color: $menu_bg_color_lvl_1;
				}
				@if $menu_arrows {
					@include media-breakpoint-down($menu-show-arrows-breakpoint) {
						position: relative;
						&.menu-item-has-children {
							@if $menu-mobile-breakpoint {
								@include media-breakpoint-down($menu-mobile-breakpoint) {
									.submenu_arrow {
										&:before {
											content: fa-content($fa-var-angle-down);
										}
									}
								}
							}
							> a:after {
								content: fa-content($fa-var-angle-down);
								@if $menu-mobile-breakpoint {
									@include media-breakpoint-down($menu-mobile-breakpoint) {
										content: "";
									}
								}
							}
						}
					}
				}
				> ul { //drugi poziom
					> li { //drugi poziom
						@if $menu_arrows {
							@include media-breakpoint-down($menu-show-arrows-breakpoint) {
								&.menu-item-has-children {
									@if $menu-mobile-breakpoint {
										@include media-breakpoint-down($menu-mobile-breakpoint) {
											.submenu_arrow {
												&:before {
													content: fa-content($fa-var-angle-down);
												}
											}
										}
									}
									> a:after {
										content: fa-content($fa-var-angle-right);
										@if $menu-mobile-breakpoint {
											@include media-breakpoint-down($menu-mobile-breakpoint) {
												content: "";
											}
										}
									}
								}
							}
						}
						a {
							background-color: $menu_bg_color_lvl_2;
						}
						> ul {
							> li {
								a {
									background-color: $menu_bg_color_lvl_3;
								}
							}
						}
					}
				}
			}
			@if $menu-mobile-breakpoint {
				@include media-breakpoint-down($menu-mobile-breakpoint) {
					display: none;
				}
			}
		}
	}
	&.show_menu, .show_menu, .show_menu:hover {
		div > ul, > ul {
			display: block;
		}
		@if $menu_arrows {
			&.menu-item-has-children {
				> .submenu_arrow {
					&:before {
						content: fa-content($fa-var-angle-up);
					}
				}
			}
		}
	}
}

#menu_button {
	display: none;
	@if $menu-mobile-breakpoint {
		@include media-breakpoint-down($menu-mobile-breakpoint) {
			display: flex;
			justify-content: center;
		}
	}
	&:before {
		@extend .fas;
		@extend .fa-bars;
		font-size: 28px;
		margin: 20px;
		cursor: pointer;
	}
	&.active {
		&:before {
			@extend .fa-times ;
		}
	}
}