.slider-section.mobile{
    display: none;
}
.termo-section{
    padding: 80px 0;
    h2{
        font-size: 28px;
        font-weight: 700;
        line-height: 1.2;
        color: #162329;
        margin-top: 12px;
        margin-bottom: 0;
    }
    h3{
        font-size: 24px;
        font-weight: 300;
        line-height: 1.3;
        margin-bottom: 50px;
        color: #162329;
    }
    h4{
        font-size: 28px;
        font-weight: 700;
        color: $primary-color;
        margin-top: 65px;
        margin-bottom: 35px;
    }
    .btn-1{
        padding: 20px 50px;
    }
}
.process-single{
    .icon{
        min-height: 52px;
        position: relative;
        img{
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    h5{
        font-size: 18px;
        padding-top: 15px;
        margin-bottom: 0;
    }
    p{
        font-size: 14px;
    }
}
.consulting-section{
    background-color: $primary-color;
    padding: 50px 0 85px 0;
    .icon{
        position: absolute;
        left: 0;
        top: 0;
        max-width: 50px;
    
    }
    .single{
        padding-left: 50px;
        p{
            font-size: 16px;
            color: #fff;
        }
    }
}
.consult-more{
    margin-top: 50px;
    h2{
        font-size: 47px;
        color: #fff;
        margin-top: 50px;
        margin-bottom: 25px;
        line-height: 1.3;
    }
    .featured-image{
        min-height: 250px;
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
    }
}
.counter-section{
    margin-top: 90px;
    padding: 70px 0;
}
.counter-single{
    padding-left: 130px;
    padding-right: 30px;
    position: relative;
    &:before{
        content: '';
        height: 100%;
        width: 1px;
        border-left: 1px solid #8b8f91;
        position: absolute;
        left: 100px;
        top: 0;
    }
    .icon{
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: baseline;
        justify-content: center;

    }
    p{
        font-size: 19px;
        font-weight: 500;
        color: #14232b;
        margin: 0;
    }
    h3{
        font-size: 65px;
        color: $primary-color;
        line-height: 1;
    }
}
.info{
    max-width: 260px;
    margin: 0 auto;
    p{
        font-size: 19px;
        color: #14232b;
        margin: 0;
        font-weight: 500;
    }
    .btn-3{
        display: inline-block;
        margin-top: 18px;
    }

}
.fotowoltaika-section{
    padding-bottom: 70px;
    .fotowoltaika-item{
        position: relative;
        img.main{
            width: 100%;
            height: auto;
        }
        &:after{
            content: '';
            height: 10px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $primary-color;
        }
        .overlay{
            position: absolute;
            text-align: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(20, 35, 43, .5);
            font-size: 18px;
            color: #fff;
            transition: all .3s ease-in-out;
            opacity: 0;
            .overlay-content{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &:hover{
            .overlay{
                opacity: 1;
            }
        }
    }

}
.fotowoltaika-section .col-lg-3{
    padding-left: 10px !important;
    padding-right: 10px !important;
}