/* latin-ext */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQspDre2.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQUpDg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQspDre2.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQUpDg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQspDre2.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQUpDg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQspDre2.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQUpDg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQspDre2.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQUpDg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQspDre2.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQUpDg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQspDre2.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQUpDg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQspDre2.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v12/xMQbuFFYT72XzQUpDg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  font-family: "Sora", sans-serif;
}

.container {
  max-width: 1154px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: end;
  list-style: none;
}
.social-link li:not(:last-child) {
  padding-right: 20px;
}

.page-title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #24b365;
}

a {
  transition: all 0.3s ease-in-out;
}

.btn-1 {
  font-size: 14px;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  background-color: #24b365;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out !important;
}
.btn-1:hover {
  text-decoration: none;
  color: #24b365;
  background-color: #fff;
  border-color: #24b365;
}

.btn-2 {
  font-size: 14px;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  background-color: #14232b;
  border: 2px solid transparent;
  transition: all 0.5s ease-in-out;
}
.btn-2:hover {
  text-decoration: none;
  color: #24b365;
  background-color: #fff;
  border-color: #24b365;
}

.btn-3 {
  font-size: 14px;
  padding: 10px 50px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  background-color: #24b365;
  border: 2px solid transparent;
  transition: all 0.5s ease-in-out;
}
.btn-3:hover {
  text-decoration: none;
  color: #24b365;
  background-color: #fff;
  border-color: #24b365;
}

.hover-9 {
  position: relative;
  display: block;
  margin: 20px 0;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  z-index: 1;
}

.hover-9:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #262626;
  border-bottom: 2px solid #262626;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s;
}

#topMenu a {
  position: relative;
}
#topMenu a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
#topMenu a:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}

.totop {
  position: fixed;
  bottom: -45px;
  right: 15px;
  width: 40px;
  height: 40px;
  z-index: 999;
  border-radius: 3px;
  background: #000000;
  color: #6610f2;
  text-align: center;
  cursor: pointer;
  line-height: 40px;
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.pre-header {
  background: #404040;
  width: 100%;
}

.call-info li {
  display: inline-block;
  margin-right: 25px;
}
.call-info li a {
  color: #fff;
  font-size: 13px;
}
.call-info li a i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #6610f2;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 26px;
}
.call-info li a:hover {
  color: #6610f2;
}
.call-info li a:hover i {
  border-color: #6610f2;
  color: #6610f2;
}

.logo {
  margin-right: 20px;
  position: relative;
  z-index: 35;
}
.logo img {
  max-width: 250px;
  height: auto;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 1.1rem;
  padding-left: 1.1rem;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
}

.main-slider-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  min-height: 180px;
}

.main-slider .slide-item {
  display: none;
}
.main-slider .slide-item img {
  width: 100%;
  height: auto;
}
.main-slider .slide-item:focus {
  outline: 0;
  border: 0;
}
.main-slider.slick-initialized .slide-item {
  display: block;
}

.social-links {
  line-height: 1;
}
.social-links li {
  display: inline-block;
  padding: 0 5px;
  line-height: 1;
}
.social-links li a {
  overflow: hidden;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 14px;
  color: #fff;
  border: 2px solid #6610f2;
  border-radius: 50%;
  line-height: 26px;
  background: transparent;
}
.social-links li a:hover {
  color: #6610f2;
  border-color: #6610f2;
  background: transparent;
}
.social-links li a:hover i {
  animation: toTopFromBottom 0.3s forwards;
}

@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
.wprmenu_bar .hamburger-inner, .wprmenu_bar .hamburger-inner::before, .wprmenu_bar .hamburger-inner::after {
  background: #24b365;
}

#wprmenu_bar .bar_logo {
  height: 25px;
}

#wprmenu_bar {
  background-color: #ffffff;
  height: 55px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

#wprmenu_bar div.hamburger {
  margin-top: 3px;
}

#mg-wprm-wrap.cbp-spmenu-left, #mg-wprm-wrap.cbp-spmenu-right {
  top: 55px;
}

#mg-wprm-wrap {
  background-color: #007298;
}

#mg-wprm-wrap ul#wprmenu_menu_ul li.menu-item a:hover {
  background: #fd7e14;
  color: #FFFFFF !important;
}

#mg-wprm-wrap li.current-menu-item > a {
  background: #fd7e14;
}

#mg-wprm-wrap li.menu-item a {
  padding: 10px 14px;
  line-height: 1.3;
}

div#mg-wprm-wrap ul li span.wprmenu_icon {
  right: 0;
  line-height: 35px;
  padding: 20px;
}

div#mg-wprm-wrap ul#wprmenu_menu_ul > li > span.wprmenu_icon:before {
  right: 10px;
}

span.wprmenu_icon.wprmenu_icon_par {
  top: -1px;
}

#wprmenu_menu_ul ul.sub-menu {
  background: #065a84;
}

.footer-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

.footer {
  background-color: #14232b;
  color: #fff;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  color: #24b365;
}
.footer .copyright {
  color: #545f64;
  padding: 25px 0;
  font-size: 14px;
}
.footer .copyright a {
  color: #545f64;
}

.footer-top {
  padding-top: 50px;
  font-size: 14px;
}
.footer-top .container {
  border-bottom: 5px solid #24b365;
  padding-bottom: 75px;
}

.contact-info-footer-list {
  list-style-type: none;
  padding-left: 25px;
  margin-bottom: 0;
  line-height: 2;
}
.contact-info-footer-list li {
  position: relative;
}
.contact-info-footer-list .address:before {
  content: url("img/icons/location-small.png");
  position: absolute;
  left: -22px;
  top: 3px;
}
.contact-info-footer-list .phone:before {
  content: url("img/icons/phone-small.png");
  position: absolute;
  left: -22px;
  top: 3px;
}
.contact-info-footer-list .email:before {
  content: url("img/icons/email-small.png");
  position: absolute;
  left: -22px;
  top: 2px;
}

.menu-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu-footer li:not(:last-child) {
  margin-bottom: 16px;
}
.menu-footer a {
  text-decoration: none;
}
.menu-footer a:hover {
  color: #24b365;
}

.slider-section.mobile {
  display: none;
}

.termo-section {
  padding: 80px 0;
}
.termo-section h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  color: #162329;
  margin-top: 12px;
  margin-bottom: 0;
}
.termo-section h3 {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 50px;
  color: #162329;
}
.termo-section h4 {
  font-size: 28px;
  font-weight: 700;
  color: #24b365;
  margin-top: 65px;
  margin-bottom: 35px;
}
.termo-section .btn-1 {
  padding: 20px 50px;
}

.process-single .icon {
  min-height: 52px;
  position: relative;
}
.process-single .icon img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.process-single h5 {
  font-size: 18px;
  padding-top: 15px;
  margin-bottom: 0;
}
.process-single p {
  font-size: 14px;
}

.consulting-section {
  background-color: #24b365;
  padding: 50px 0 85px 0;
}
.consulting-section .icon {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 50px;
}
.consulting-section .single {
  padding-left: 50px;
}
.consulting-section .single p {
  font-size: 16px;
  color: #fff;
}

.consult-more {
  margin-top: 50px;
}
.consult-more h2 {
  font-size: 47px;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 25px;
  line-height: 1.3;
}
.consult-more .featured-image {
  min-height: 250px;
}
.consult-more img {
  position: absolute;
  top: 0;
  left: 0;
}

.counter-section {
  margin-top: 90px;
  padding: 70px 0;
}

.counter-single {
  padding-left: 130px;
  padding-right: 30px;
  position: relative;
}
.counter-single:before {
  content: "";
  height: 100%;
  width: 1px;
  border-left: 1px solid #8b8f91;
  position: absolute;
  left: 100px;
  top: 0;
}
.counter-single .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.counter-single p {
  font-size: 19px;
  font-weight: 500;
  color: #14232b;
  margin: 0;
}
.counter-single h3 {
  font-size: 65px;
  color: #24b365;
  line-height: 1;
}

.info {
  max-width: 260px;
  margin: 0 auto;
}
.info p {
  font-size: 19px;
  color: #14232b;
  margin: 0;
  font-weight: 500;
}
.info .btn-3 {
  display: inline-block;
  margin-top: 18px;
}

.fotowoltaika-section {
  padding-bottom: 70px;
}
.fotowoltaika-section .fotowoltaika-item {
  position: relative;
}
.fotowoltaika-section .fotowoltaika-item img.main {
  width: 100%;
  height: auto;
}
.fotowoltaika-section .fotowoltaika-item:after {
  content: "";
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #24b365;
}
.fotowoltaika-section .fotowoltaika-item .overlay {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 35, 43, 0.5);
  font-size: 18px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.fotowoltaika-section .fotowoltaika-item .overlay .overlay-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.fotowoltaika-section .fotowoltaika-item:hover .overlay {
  opacity: 1;
}

.fotowoltaika-section .col-lg-3 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.ms-info {
  height: 800px;
  display: flex;
  align-items: center;
}
.ms-info .container {
  margin-top: 100px;
}
.ms-info h3 {
  font-size: 17px;
  color: #24b365;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}
.ms-info h2 {
  font-size: 51px;
  font-weight: 100;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 15px;
}
.ms-info h2 strong {
  font-weight: 600;
}

.slider-section.big.ms-bullets-count {
  z-index: 1;
}

.slider-section.big .ms-bullets.ms-dir-h {
  min-width: 100px;
  z-index: 2;
}

.slider-section.big .ms-bullet {
  width: 15px !important;
  height: 15px !important;
  background: transparent !important;
  border: solid 2px white !important;
  border-radius: 50% !important;
  border-color: rgb(255, 255, 255) !important;
}

.slider-section.big .ms-bullet-selected {
  background-color: #fff !important;
  border-color: #fff !important;
  border-color: #fff !important;
}

.slider-section.mobile .ms-info {
  height: 500px;
}

.slider-section.mobile .ms-slide-info {
  position: absolute !important;
  top: 0;
}
.slider-section.mobile .ms-slide-info h2 {
  font-size: 32px;
}
.slider-section.mobile .container {
  margin-top: 210px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

#wprmenu_bar {
  padding-right: 40px;
  padding-left: 40px;
}

.phone-iocn {
  max-width: 25px;
  height: auto;
  position: absolute;
  right: 100px;
  margin-top: -2px !important;
}

@media (max-width: 991px) {
  .header-menu ul li a {
    font-size: 10px;
  }
}
@media (max-width: 767px) {
  .consult-more img {
    top: 30px;
  }
  .slider-section.mobile {
    display: block;
  }
  .slider-section.big {
    display: none;
  }
  .header {
    display: none;
  }
  .consulting-section .icon {
    left: 20px;
  }
  .counter-section {
    margin-top: 0;
  }
  .footer-title {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .process-single {
    text-align: center;
  }
  .process-single .icon img {
    left: 50%;
    transform: translateX(-50%);
  }
}

/*# sourceMappingURL=style.css.map */
