[class*="colf-"] {
	@extend .col-1;
}
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
		.colf#{$infix}-1 {
			flex: 0 0 20%;
			max-width: 20%;
		}
		.colf#{$infix}-2 {
			flex: 0 0 40%;
			max-width: 40%;
		}
		.colf#{$infix}-3  {
			flex: 0 0 60%;
			max-width: 60%;
		}
		.colf#{$infix}-4 {
			flex: 0 0 80%;
			max-width: 80%;
		}
		.colf#{$infix}-5 {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}

[class*="cols-"] {
	@extend .col-1;
}
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
		.cols#{$infix}-1 {
			flex: 0 0 14.29%;
			max-width: 14.29%;
		}
		.cols#{$infix}-2 {
			flex: 0 0 28.58%;
			max-width: 28.58%;
		}
		.cols#{$infix}-3  {
			flex: 0 0 42.87%;
			max-width: 42.87%;
		}
		.cols#{$infix}-4 {
			flex: 0 0 57.16%;
			max-width: 57.16%;
		}
		.cols#{$infix}-5 {
			flex: 0 0 71.45%;
			max-width: 71.45%;
		}
		.cols#{$infix}-6 {
			flex: 0 0 85.74%;
			max-width: 85.74%;
		}
		.cols#{$infix}-7 {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}